# International Financial Aid (per-capita) [World Bank 1960-2013]

Datasets:
* http://data.worldbank.org/indicator/DT.ODA.ALLD.CD/countries/1W
* http://data.worldbank.org/indicator/SP.POP.TOTL

In [1]:
#!pip install conda
#!conda install --yes pandas matplotlib

Requirement already satisfied (use --upgrade to upgrade): conda in /usr/local/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): pycosat in /usr/local/lib/python2.7/site-packages (from conda)
Requirement already satisfied (use --upgrade to upgrade): pyyaml in /usr/local/lib/python2.7/site-packages (from conda)
Requirement already satisfied (use --upgrade to upgrade): requests in /usr/local/lib/python2.7/site-packages (from conda)
Cleaning up...
Fetching package metadata: ..
Solving package specifications: .
# All requested packages already installed.
# packages in environment at /usr/local/Cellar/python/2.7.5/Frameworks/Python.framework/Versions/2.7:
#
matplotlib                1.4.0                np18py27_0
pandas                    0.14.1               np18py27_0
Requirement already satisfied (use --upgrade to upgrade): quandl in /usr/local/lib/python2.7/site-packages
Cleaning up...

In [2]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import json
    
print(pd.__version__, np.__version__)

('0.14.1', '1.8.2')

In [103]:
datadir = "aid_data"

import os
os.path.exists(datadir) or os.makedirs(datadir)

# http://data.worldbank.org/indicator/DT.ODA.ALLD.CD/countries/1W
wb_net_aid_received_zip = os.path.join(datadir, "wb_net_aid_received.zip")
!wget --continue --no-clobber "http://api.worldbank.org/v2/en/indicator/dt.oda.alld.cd?downloadformat=csv" -O $wb_net_aid_received_zip
#!ls -al $datadir
wb_net_aid_received_csv_name = "dt.oda.alld.cd_Indicator_en_csv_v2.csv"
#!ls unzip -l $wb_net_aid_received_csv_name
!unzip -u $wb_net_aid_received_zip "$wb_net_aid_received_csv_name" -d $datadir
#!ls -al $datadir
wb_net_aid_received_csv = os.path.join(datadir, wb_net_aid_received_csv_name)

# http://data.worldbank.org/indicator/SP.POP.TOTL
wb_pop_total_zip = os.path.join(datadir, "wb_pop_total.zip")
!wget --continue --no-clobber "http://api.worldbank.org/v2/en/indicator/sp.pop.totl?downloadformat=csv" -O $wb_pop_total_zip
#!ls -al $datadir
#!unzip -l $wb_pop_total_zip
wb_pop_total_csv_name = "sp.pop.totl_Indicator_en_csv_v2.csv"
!unzip -u $wb_pop_total_zip $wb_pop_total_csv_name -d $datadir
#!ls -al $datadir
wb_pop_total_csv = os.path.join(datadir, wb_pop_total_csv_name)

# http://www.oecd.org/dac/stats/aidtopoorcountriesslipsfurtherasgovernmentstightenbudgets.htm
oecd_aid_statistics_xls = os.path.join(datadir, "oecd_aid_statistics.xls")
!wget --continue --no-clobber "http://www.oecd.org/development/stats/ODA%202012%20Tables%20and%20Charts.xls" -O $oecd_aid_statistics_xls

!ls -al $datadir

File `aid_data/wb_net_aid_received.zip' already there; not retrieving.
caution:  not extracting; -d ignored
Archive:  aid_data/wb_net_aid_received.zip
 Length   Method    Size  Ratio   Date   Time   CRC-32    Name
--------  ------  ------- -----   ----   ----   ------    ----
  152008  Defl:N    40747  73%  08-27-14 01:40  3a7d8b92  dt.oda.alld.cd_Indicator_en_csv_v2.csv
--------          -------  ---                            -------
  152008            40747  73%                            1 file
File `aid_data/wb_pop_total.zip' already there; not retrieving.
caution:  not extracting; -d ignored
Archive:  aid_data/wb_pop_total.zip
 Length   Method    Size  Ratio   Date   Time   CRC-32    Name
--------  ------  ------- -----   ----   ----   ------    ----
  152431  Defl:N    71147  53%  08-27-14 03:02  77d3fb2a  sp.pop.totl_Indicator_en_csv_v2.csv
--------          -------  ---                            -------
  152431            71147  53%                            1 file
File `aid_data/oecd_aid_statistics.xls' already there; not retrieving.
total 1248
drwxr-xr-x   10 W  admin     340 Sep  5 10:42 .
drwx------+ 203 W  admin    6902 Sep  5 11:34 ..
-rw-r--r--    1 W  admin   44676 Aug 27 01:40 Metadata_Country_dt.oda.alld.cd_Indicator_en_csv_v2.csv
-rw-r--r--    1 W  admin    1567 Aug 27 01:40 Metadata_Indicator_dt.oda.alld.cd_Indicator_en_csv_v2.csv
-rw-r--r--    1 W  admin     182 Aug 27 03:02 [Content_Types].xml
-rw-r--r--    1 W  admin  152008 Aug 27 01:40 dt.oda.alld.cd_Indicator_en_csv_v2.csv
-rw-r--r--    1 W  admin  135168 Jul  4 18:59 oecd_aid_statistics.xls
-rw-r--r--    1 W  admin  152431 Aug 27 03:02 sp.pop.totl_Indicator_en_csv_v2.csv
-rw-r--r--    1 W  admin   53023 Sep  5 10:33 wb_net_aid_received.zip
-rw-r--r--    1 W  admin   83148 Sep  5 10:33 wb_pop_total.zip

In [104]:
df_net_aid = pd.read_csv(wb_net_aid_received_csv, header=2)
df_net_aid

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Unnamed: 58
0,Aruba,ABW,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Net official development assistance and offici...,DT.ODA.ALLD.CD,17180000,34670000,16930000,36670000,46170000,53930000,...,2.837620e+09,2.961670e+09,4.964720e+09,4.875070e+09,6.235260e+09,6.426380e+09,6.884700e+09,6.725030e+09,NaN,NaN
3,Angola,AGO,Net official development assistance and offici...,DT.ODA.ALLD.CD,-50000,23550000,NaN,30000,NaN,1110000,...,4.145700e+08,1.635200e+08,2.476700e+08,3.688200e+08,2.387100e+08,2.382300e+08,1.942500e+08,2.423500e+08,NaN,NaN
4,Albania,ALB,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.191400e+08,3.217800e+08,3.071900e+08,3.632700e+08,3.569600e+08,3.407000e+08,3.507500e+08,3.416200e+08,NaN,NaN
5,Andean Region,ANR,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Arab World,ARB,Net official development assistance and offici...,DT.ODA.ALLD.CD,881990000,973930000,929090000,858610000,831420000,666060000,...,2.927589e+10,1.755314e+10,1.905781e+10,2.275868e+10,1.424822e+10,1.236550e+10,1.303252e+10,1.495131e+10,0,NaN
7,United Arab Emirates,ARE,Net official development assistance and offici...,DT.ODA.ALLD.CD,410000,540000,430000,390000,580000,20000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Argentina,ARG,Net official development assistance and offici...,DT.ODA.ALLD.CD,28580000,29180000,39800000,37800000,17220000,-62200000,...,9.618000e+07,1.150800e+08,1.013400e+08,1.305800e+08,1.267300e+08,1.211200e+08,8.696000e+07,1.789200e+08,NaN,NaN
9,Armenia,ARM,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.703400e+08,2.155100e+08,3.500200e+08,3.026300e+08,5.259700e+08,3.428200e+08,4.001000e+08,2.727700e+08,NaN,NaN
10,American Samoa,ASM,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Antigua and Barbuda,ATG,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.790000e+06,3.280000e+06,7.380000e+06,8.750000e+06,5.640000e+06,1.907000e+07,1.533000e+07,2.350000e+06,NaN,NaN
12,Australia,AUS,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Austria,AUT,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Azerbaijan,AZE,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.165100e+08,2.063900e+08,2.252100e+08,2.351000e+08,2.317700e+08,1.591100e+08,2.864100e+08,3.376100e+08,NaN,NaN
15,Burundi,BDI,Net official development assistance and offici...,DT.ODA.ALLD.CD,7530000,7190000,11070000,6160000,8090000,4860000,...,3.639600e+08,4.308900e+08,4.790000e+08,5.222400e+08,5.613700e+08,6.299400e+08,5.748500e+08,5.227400e+08,NaN,NaN
16,Belgium,BEL,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Benin,BEN,Net official development assistance and offici...,DT.ODA.ALLD.CD,20000,1480000,3750000,4260000,18070000,17880000,...,3.469300e+08,3.993200e+08,4.743700e+08,6.414800e+08,6.820600e+08,6.891100e+08,6.902900e+08,5.113300e+08,NaN,NaN
18,Burkina Faso,BFA,Net official development assistance and offici...,DT.ODA.ALLD.CD,200000,1350000,4430000,4140000,15400000,17270000,...,6.933700e+08,9.014800e+08,9.504000e+08,1.001160e+09,1.082820e+09,1.062340e+09,9.951200e+08,1.158540e+09,NaN,NaN
19,Bangladesh,BGD,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.318850e+09,1.221180e+09,1.515240e+09,2.070630e+09,1.225820e+09,1.414950e+09,1.490020e+09,2.152090e+09,NaN,NaN
20,Bulgaria,BGR,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Bahrain,BHR,Net official development assistance and offici...,DT.ODA.ALLD.CD,40000,940000,1350000,640000,580000,880000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Bahamas, The",BHS,Net official development assistance and offici...,DT.ODA.ALLD.CD,-40000,NaN,NaN,20000,60000,70000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Bosnia and Herzegovina,BIH,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.485200e+08,5.349800e+08,5.994900e+08,4.669300e+08,4.143100e+08,5.103700e+08,6.254600e+08,5.711300e+08,NaN,NaN
24,Belarus,BLR,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.781000e+07,7.652000e+07,8.376000e+07,1.101800e+08,9.757000e+07,1.379200e+08,1.258600e+08,1.032200e+08,NaN,NaN
25,Belize,BLZ,Net official development assistance and offici...,DT.ODA.ALLD.CD,1820000,2820000,5520000,4060000,1550000,2130000,...,1.217000e+07,8.630000e+06,2.177000e+07,2.386000e+07,2.756000e+07,2.476000e+07,2.256000e+07,2.518000e+07,NaN,NaN
26,Bermuda,BMU,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,10000,50000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Bolivia,BOL,Net official development assistance and offici...,DT.ODA.ALLD.CD,12080000,23630000,35910000,53500000,40920000,33960000,...,6.430600e+08,8.499700e+08,4.758100e+08,6.278700e+08,7.252500e+08,7.409800e+08,7.218400e+08,6.586300e+08,NaN,NaN
28,Brazil,BRA,Net official development assistance and offici...,DT.ODA.ALLD.CD,24110000,266570000,166560000,197240000,249000000,236070000,...,2.430700e+08,1.134300e+08,3.212000e+08,4.603600e+08,3.369300e+08,4.533100e+08,8.154900e+08,1.288220e+09,NaN,NaN
29,Barbados,BRB,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.810000e+06,-2.080000e+06,1.751000e+07,7.120000e+06,1.196000e+07,1.620000e+07,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Togo,TGO,Net official development assistance and offici...,DT.ODA.ALLD.CD,110000,2930000,4530000,6650000,14940000,13360000,...,8.254000e+07,7.990000e+07,1.224200e+08,3.300700e+08,4.985200e+08,4.040400e+08,5.427300e+08,2.414600e+08,NaN,NaN
229,Thailand,THA,Net official development assistance and offici...,DT.ODA.ALLD.CD,43780000,29340000,37890000,36330000,31850000,49090000,...,-1.676600e+08,-2.170400e+08,-3.109900e+08,-6.185100e+08,-7.776000e+07,-1.140000e+07,-1.536700e+08,-1.347900e+08,NaN,NaN
230,Tajikistan,TJK,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.515000e+08,2.412400e+08,2.221100e+08,2.886800e+08,4.081200e+08,4.366500e+08,3.475100e+08,3.939100e+08,NaN,NaN
231,Turkmenistan,TKM,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.037000e+07,4.071000e+07,2.848000e+07,1.813000e+07,3.984000e+07,4.465000e+07,3.868000e+07,3.803000e+07,NaN,NaN
232,Timor-Leste,TLS,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,1640000,NaN,NaN,NaN,NaN,...,1.847600e+08,2.090700e+08,2.782700e+08,2.775400e+08,2.164400e+08,2.915000e+08,2.792600e+08,2.830700e+08,NaN,NaN
233,Tonga,TON,Net official development assistance and offici...,DT.ODA.ALLD.CD,10000,20000,70000,50000,60000,500000,...,3.198000e+07,2.149000e+07,3.086000e+07,2.571000e+07,3.924000e+07,7.045000e+07,9.379000e+07,7.826000e+07,NaN,NaN
234,Trinidad and Tobago,TTO,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,80000,550000,11520000,12030000,16240000,...,-1.980000e+06,1.382000e+07,2.080000e+07,9.290000e+06,6.840000e+06,4.330000e+06,NaN,NaN,NaN,NaN
235,Tunisia,TUN,Net official development assistance and offici...,DT.ODA.ALLD.CD,51830000,93820000,70110000,83560000,71070000,90920000,...,3.624200e+08,4.313700e+08,3.211900e+08,3.749600e+08,5.027900e+08,5.503600e+08,9.210800e+08,1.017020e+09,NaN,NaN
236,Turkey,TUR,Net official development assistance and offici...,DT.ODA.ALLD.CD,137310000,188280000,229590000,222670000,162080000,189410000,...,3.960200e+08,5.657400e+08,7.921400e+08,1.116140e+09,1.361520e+09,1.047160e+09,3.188930e+09,3.033130e+09,NaN,NaN
237,Tuvalu,TUV,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.200000e+06,1.534000e+07,1.174000e+07,1.612000e+07,1.747000e+07,1.333000e+07,3.880000e+07,2.449000e+07,NaN,NaN
238,Tanzania,TZA,Net official development assistance and offici...,DT.ODA.ALLD.CD,10360000,39190000,47010000,31060000,45650000,38630000,...,1.499070e+09,1.883290e+09,2.821590e+09,2.331460e+09,2.933150e+09,2.958180e+09,2.445770e+09,2.831890e+09,NaN,NaN
239,Uganda,UGA,Net official development assistance and offici...,DT.ODA.ALLD.CD,20600000,21230000,28770000,19590000,22490000,20120000,...,1.192160e+09,1.586430e+09,1.737300e+09,1.641470e+09,1.784700e+09,1.723470e+09,1.577820e+09,1.655190e+09,NaN,NaN
240,Ukraine,UKR,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.116900e+08,4.835000e+08,4.202800e+08,6.175800e+08,6.662000e+08,6.264000e+08,8.072300e+08,7.692300e+08,NaN,NaN
241,Upper middle income,UMC,Net official development assistance and offici...,DT.ODA.ALLD.CD,781640000,1416770000,1330280000,1224640000,952720000,1046010000,...,3.222894e+10,1.980692e+10,2.021529e+10,2.319344e+10,1.525723e+10,1.318240e+10,1.715709e+10,1.559465e+10,0,NaN
242,Uruguay,URY,Net official development assistance and offici...,DT.ODA.ALLD.CD,17330000,-570000,1950000,12270000,4420000,320000,...,1.444000e+07,2.107000e+07,3.701000e+07,3.329000e+07,5.003000e+07,4.671000e+07,1.940000e+07,1.932000e+07,NaN,NaN
243,United States,USA,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Uzbekistan,UZB,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.697900e+08,1.493000e+08,1.698500e+08,1.873200e+08,1.897500e+08,2.308500e+08,2.031900e+08,2.552600e+08,NaN,NaN
245,St. Vincent and the Grenadines,VCT,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.690000e+06,4.730000e+06,6.585000e+07,2.686000e+07,3.076000e+07,1.685000e+07,1.787000e+07,8.560000e+06,NaN,NaN
246,"Venezuela, RB",VEN,Net official development assistance and offici...,DT.ODA.ALLD.CD,-7490000,-4880000,68890000,47720000,-51700000,3800000,...,5.030000e+07,6.293000e+07,7.776000e+07,5.922000e+07,6.634000e+07,5.274000e+07,4.487000e+07,4.813000e+07,NaN,NaN
247,Virgin Islands (U.S.),VIR,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Vietnam,VNM,Net official development assistance and offici...,DT.ODA.ALLD.CD,191850000,167110000,176030000,226670000,244990000,314150000,...,1.913460e+09,1.844540e+09,2.510940e+09,2.551930e+09,3.731690e+09,2.940080e+09,3.595510e+09,4.115780e+09,NaN,NaN
249,Vanuatu,VUT,Net official development assistance and offici...,DT.ODA.ALLD.CD,150000,280000,410000,510000,650000,580000,...,3.948000e+07,4.879000e+07,5.669000e+07,9.227000e+07,1.031900e+08,1.083100e+08,9.215000e+07,1.014200e+08,NaN,NaN
250,West Bank and Gaza,PSE,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.015710e+09,1.360250e+09,1.717110e+09,2.470080e+09,2.816640e+09,2.518700e+09,2.441970e+09,2.001390e+09,NaN,NaN
251,World,WLD,Net official development assistance and offici...,DT.ODA.ALLD.CD,4254390000,5219020000,5439680000,5962450000,5835340000,6242640000,...,1.084508e+11,1.070030e+11,1.080812e+11,1.274432e+11,1.265768e+11,1.310664e+11,1.410584e+11,1.330394e+11,0,NaN
252,Samoa,WSM,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,30000,90000,170000,210000,230000,...,4.355000e+07,4.707000e+07,3.747000e+07,4.031000e+07,7.731000e+07,1.474800e+08,9.782000e+07,1.206700e+08,NaN,NaN
253,"Yemen, Rep.",YEM,Net official development assistance and offici...,DT.ODA.ALLD.CD,14690000,14880000,18080000,21580000,23330000,31540000,...,2.965300e+08,2.874100e+08,2.425600e+08,4.296100e+08,5.578500e+08,6.642300e+08,4.761200e+08,7.093900e+08,NaN,NaN
254,South Africa,ZAF,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.902000e+08,7.149900e+08,8.074900e+08,1.125180e+09,1.074540e+09,1.030540e+09,1.403150e+09,1.067150e+09,NaN,NaN
255,"Congo, Dem. Rep.",COD,Net official development assistance and offici...,DT.ODA.ALLD.CD,82090000,91160000,120970000,111500000,127020000,142070000,...,1.881700e+09,2.197280e+09,1.356710e+09,1.765970e+09,2.356850e+09,3.486160e+09,5.534410e+09,2.859380e+09,NaN,NaN
256,Zambia,ZMB,Net official development assistance and offici...,DT.ODA.ALLD.CD,920000,910000,5880000,5380000,20990000,10860000,...,1.172050e+09,1.467540e+09,1.007840e+09,1.116240e+09,1.267060e+09,9.143700e+08,1.035060e+09,9.577200e+08,NaN,NaN
257,Zimbabwe,ZWE,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,10000,NaN,10860000,4570000,3720000,...,3.727200e+08,2.782400e+08,4.781100e+08,6.124200e+08,7.362200e+08,7.324700e+08,7.156800e+08,1.001220e+09,NaN,NaN

In [20]:
df_pop_total = pd.read_csv(wb_pop_total_csv, header=2)
df_pop_total

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Unnamed: 58
0,Aruba,ABW,Population (Total),SP.POP.TOTL,54208,55435,56226,56697,57029,57360,...,100031,100830,101219,101344,101418,101597,101932,102384,102911,NaN
1,Andorra,AND,Population (Total),SP.POP.TOTL,13414,14376,15376,16410,17470,18551,...,81223,81877,81292,79969,78659,77907,77865,78360,79218,NaN
2,Afghanistan,AFG,Population (Total),SP.POP.TOTL,8774440,8953544,9141783,9339507,9547131,9765015,...,24860855,25631282,26349243,27032197,27708187,28397812,29105480,29824536,30551674,NaN
3,Angola,AGO,Population (Total),SP.POP.TOTL,4965988,5056688,5150076,5245015,5339893,5433841,...,16544376,17122409,17712824,18314441,18926650,19549124,20180490,20820525,21471618,NaN
4,Albania,ALB,Population (Total),SP.POP.TOTL,1608800,1659800,1711319,1762621,1814135,1864791,...,2992724,2968028,2940880,2912559,2884303,2856673,2829337,2801681,2773620,NaN
5,Andean Region,ANR,Population (Total),SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Arab World,ARB,Population (Total),SP.POP.TOTL,93485943,96058179,98728995,101496308,104359772,107318159,...,309824383,317125787,324693498,332424892,340149038,347737036,355137048,362466629,369761523,NaN
7,United Arab Emirates,ARE,Population (Total),SP.POP.TOTL,89608,97727,108774,121574,134411,146341,...,4148883,4875639,5797347,6798635,7718319,8441537,8925096,9205651,9346129,NaN
8,Argentina,ARG,Population (Total),SP.POP.TOTL,20623998,20959241,21295290,21630854,21963952,22293817,...,38647854,38988923,39331357,39676083,40023641,40374224,40728738,41086927,41446246,NaN
9,Armenia,ARM,Population (Total),SP.POP.TOTL,1867396,1934239,2002170,2070427,2138133,2204650,...,3014917,3002911,2989882,2977488,2968154,2963496,2964120,2969081,2976566,NaN
10,American Samoa,ASM,Population (Total),SP.POP.TOTL,20012,20478,21118,21883,22701,23518,...,59117,58652,57919,57053,56245,55636,55274,55128,55165,NaN
11,Antigua and Barbuda,ATG,Population (Total),SP.POP.TOTL,54681,55403,56311,57368,58500,59653,...,82565,83467,84397,85349,86300,87233,88152,89069,89985,NaN
12,Australia,AUS,Population (Total),SP.POP.TOTL,10276477,10483000,10742000,10950000,11167000,11388000,...,20394800,20697900,20827600,21249200,21691700,22031800,22340000,22723900,23130900,NaN
13,Austria,AUT,Population (Total),SP.POP.TOTL,7047539,7086299,7129864,7175811,7223801,7270889,...,8227829,8268641,8300788,8336926,8365275,8389771,8406187,8429991,8473786,NaN
14,Azerbaijan,AZE,Population (Total),SP.POP.TOTL,3897889,4030130,4167558,4307315,4445653,4579759,...,8391850,8484550,8581300,8763400,8947243,9054332,9173082,9295784,9416598,NaN
15,Burundi,BDI,Population (Total),SP.POP.TOTL,2786740,2840375,2894510,2950903,3011957,3079034,...,7770392,8042579,8328312,8624280,8926687,9232753,9540362,9849569,10162532,NaN
16,Belgium,BEL,Population (Total),SP.POP.TOTL,9153489,9183948,9220578,9289770,9378113,9463667,...,10478617,10547958,10625700,10709973,10796493,10920272,11047744,11128246,11195138,NaN
17,Benin,BEN,Population (Total),SP.POP.TOTL,2431620,2466002,2503232,2543335,2586362,2632360,...,8182362,8443671,8707490,8973293,9240783,9509798,9779795,10050702,10323474,NaN
18,Burkina Faso,BFA,Population (Total),SP.POP.TOTL,4829291,4894578,4960325,5027818,5098892,5174869,...,13421929,13822257,14235075,14659646,15094967,15540284,15995313,16460141,16934839,NaN
19,Bangladesh,BGD,Population (Total),SP.POP.TOTL,49537147,50953503,52403243,53909233,55503132,57200412,...,143135180,144868702,146457067,147969967,149503100,151125475,152862431,154695368,156594962,NaN
20,Bulgaria,BGR,Population (Total),SP.POP.TOTL,7867374,7943118,8012946,8078145,8144340,8204168,...,7739900,7699020,7545338,7492561,7444443,7395599,7348328,7305888,7265115,NaN
21,Bahrain,BHR,Population (Total),SP.POP.TOTL,162501,167924,173107,178048,182774,187348,...,879534,950951,1032353,1116038,1191539,1251513,1292764,1317827,1332171,NaN
22,"Bahamas, The",BHS,Population (Total),SP.POP.TOTL,109526,115108,121083,127331,133697,140049,...,329088,335622,342049,348340,354492,360498,366331,371960,377374,NaN
23,Bosnia and Herzegovina,BIH,Population (Total),SP.POP.TOTL,3305501,3358202,3409319,3458189,3503878,3545862,...,3879828,3875157,3868665,3861201,3853446,3845929,3839322,3833916,3829307,NaN
24,Belarus,BLR,Population (Total),SP.POP.TOTL,8198000,8271216,8351928,8437232,8524224,8610000,...,9663000,9604000,9560000,9528000,9507000,9490000,9473000,9464000,9466000,NaN
25,Belize,BLZ,Population (Total),SP.POP.TOTL,92068,94701,97389,100166,103070,106121,...,271920,278985,286196,293544,301016,308595,316280,324060,331900,NaN
26,Bermuda,BMU,Population (Total),SP.POP.TOTL,44400,45500,46600,47700,48900,50100,...,64154,64523,64888,65273,65636,65124,64564,64798,65024,NaN
27,Bolivia,BOL,Population (Total),SP.POP.TOTL,3353125,3428270,3505427,3584782,3666584,3751047,...,9354709,9517395,9676456,9834098,9993406,10156601,10324445,10496285,10671200,NaN
28,Brazil,BRA,Population (Total),SP.POP.TOTL,72775883,74988037,77286629,79643017,82017016,84379369,...,186142403,188134315,189996976,191765567,193490922,195210154,196935134,198656019,200361925,NaN
29,Barbados,BRB,Population (Total),SP.POP.TOTL,230858,231599,232514,233520,234478,235294,...,273568,274923,276277,277634,279006,280396,281804,283221,284644,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Togo,TGO,Population (Total),SP.POP.TOTL,1580513,1597528,1612758,1631763,1662072,1708632,...,5540214,5685845,5834806,5987491,6144457,6306014,6472304,6642928,6816982,NaN
229,Thailand,THA,Population (Total),SP.POP.TOTL,27362310,28195264,29058659,29951191,30870998,31816307,...,65559487,65883961,66076927,66185340,66277335,66402316,66576332,66785001,67010502,NaN
230,Tajikistan,TJK,Population (Total),SP.POP.TOTL,2064035,2140413,2223956,2312193,2401598,2489648,...,6805655,6954522,7111025,7275252,7447396,7627326,7814850,8008990,8207834,NaN
231,Turkmenistan,TKM,Population (Total),SP.POP.TOTL,1593501,1649914,1708711,1769008,1829697,1890000,...,4747839,4801595,4858236,4917543,4978962,5041995,5106668,5172931,5240072,NaN
232,Timor-Leste,TLS,Population (Total),SP.POP.TOTL,499681,508504,517704,527291,537285,547688,...,982889,999053,1015482,1032182,1049156,1066409,1120392,1148958,1178252,NaN
233,Tonga,TON,Population (Total),SP.POP.TOTL,61600,63740,66255,69000,71757,74363,...,100960,101617,102289,102947,103557,104098,104554,104941,105323,NaN
234,Trinidad and Tobago,TTO,Population (Total),SP.POP.TOTL,848481,865356,880019,892571,903272,912419,...,1296933,1303478,1310040,1316449,1322518,1328095,1333082,1337439,1341151,NaN
235,Tunisia,TUN,Population (Total),SP.POP.TOTL,4220701,4277371,4350811,4436643,4530835,4630000,...,10029000,10127900,10225100,10328900,10439600,10549100,10673800,10777500,10886500,NaN
236,Turkey,TUR,Population (Total),SP.POP.TOTL,27553280,28229291,28909985,29597047,30292969,31000167,...,67743052,68626337,69496513,70363511,71241080,72137546,73058638,73997128,74932641,NaN
237,Tuvalu,TUV,Population (Total),SP.POP.TOTL,6104,6242,6391,6542,6687,6819,...,9694,9732,9764,9788,9808,9827,9844,9860,9876,NaN
238,Tanzania,TZA,Population (Total),SP.POP.TOTL,10074490,10373284,10683653,11005491,11338544,11682873,...,38824384,39942347,41119693,42353790,43639752,44973330,46354607,47783107,49253126,NaN
239,Uganda,UGA,Population (Total),SP.POP.TOTL,6788211,7006629,7240155,7487412,7746181,8014376,...,28724869,29711397,30728747,31778799,32864328,33987213,35148064,36345860,37578876,NaN
240,Ukraine,UKR,Population (Total),SP.POP.TOTL,42662162,43203646,43749474,44285898,44794336,45261976,...,47105150,46787750,46509350,46258200,46053300,45870700,45706100,45593300,45489600,NaN
241,Upper middle income,UMC,Population (Total),SP.POP.TOTL,1062752609,1066276123,1082173926,1109380940,1136183050,1163862954,...,2264763992,2283242974,2300791118,2318342943,2336270149,2354056585,2371969330,2390210774,2408656292,NaN
242,Uruguay,URY,Population (Total),SP.POP.TOTL,2538779,2571834,2604042,2635294,2665561,2694714,...,3325155,3330217,3338384,3348898,3360431,3371982,3383486,3395253,3407062,NaN
243,United States,USA,Population (Total),SP.POP.TOTL,180671000,183691000,186538000,189242000,191889000,194303000,...,295516599,298379912,301231207,304093966,306771529,309326295,311582564,313873685,316128839,NaN
244,Uzbekistan,UZB,Population (Total),SP.POP.TOTL,8558503,8871244,9201176,9542785,9888629,10233502,...,26167000,26488250,26868000,27302800,27767400,28562400,29339400,29774500,30241100,NaN
245,St. Vincent and the Grenadines,VCT,Population (Total),SP.POP.TOTL,80948,82144,83206,84167,85076,85972,...,108749,108908,109045,109158,109249,109316,109357,109373,109373,NaN
246,"Venezuela, RB",VEN,Population (Total),SP.POP.TOTL,7580281,7872644,8172322,8477485,8785731,9095742,...,26725897,27190882,27655937,28120312,28583040,29043283,29500625,29954782,30405207,NaN
247,Virgin Islands (U.S.),VIR,Population (Total),SP.POP.TOTL,32000,34100,36300,38700,41300,44000,...,107863,107700,107423,107091,106707,106267,105784,105275,104737,NaN
248,Vietnam,VNM,Population (Total),SP.POP.TOTL,34743000,35428000,36123000,36836000,37574000,38341000,...,82393500,83313000,84221100,85122300,86025000,86932500,87840000,88772900,89708900,NaN
249,Vanuatu,VUT,Population (Total),SP.POP.TOTL,63701,65708,67806,69962,72131,74287,...,209375,214654,220001,225398,230833,236299,241778,247262,252763,NaN
250,West Bank and Gaza,PSE,Population (Total),SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,3320396,3406334,3494496,3596688,3702218,3811102,3927051,4046901,4169506,NaN
251,World,WLD,Population (Total),SP.POP.TOTL,3036411561,3077508964,3130438533,3195291446,3260691352,3327432481,...,6490176815,6567959806,6645716553,6724646992,6803742004,6883512372,6964638027,7043105591,7124543962,NaN
252,Samoa,WSM,Population (Total),SP.POP.TOTL,108645,112121,115786,119564,123354,127068,...,179928,181073,182240,183444,184704,186029,187429,188889,190372,NaN
253,"Yemen, Rep.",YEM,Population (Total),SP.POP.TOTL,5099785,5184477,5276093,5372934,5472775,5573959,...,20139661,20661714,21182162,21703571,22229625,22763008,23304206,23852409,24407381,NaN
254,South Africa,ZAF,Population (Total),SP.POP.TOTL,17396000,17949962,18459442,18936138,19390554,19832000,...,47639556,48269753,48910248,49561256,50222996,50895698,51579599,52274945,52981991,NaN
255,"Congo, Dem. Rep.",COD,Population (Total),SP.POP.TOTL,15248246,15637715,16041247,16461914,16903899,17369859,...,54028003,55590838,57187942,58819038,60486276,62191161,63931512,65705093,67513677,NaN
256,Zambia,ZMB,Population (Total),SP.POP.TOTL,3082627,3173662,3269151,3368961,3472843,3580708,...,11470022,11781612,12109620,12456527,12825031,13216985,13633796,14075099,14538640,NaN
257,Zimbabwe,ZWE,Population (Total),SP.POP.TOTL,3752390,3876638,4006261,4140802,4279559,4422129,...,12710589,12724308,12740160,12784041,12888918,13076978,13358738,13724317,14149648,NaN

In [24]:
df_net_aid[['Country Name', 'Country Code', '2012']]

                       Country Name Country Code          2012
0                             Aruba          ABW           NaN
1                           Andorra          AND           NaN
2                       Afghanistan          AFG  6.725030e+09
3                            Angola          AGO  2.423500e+08
4                           Albania          ALB  3.416200e+08
5                     Andean Region          ANR           NaN
6                        Arab World          ARB  1.495131e+10
7              United Arab Emirates          ARE           NaN
8                         Argentina          ARG  1.789200e+08
9                           Armenia          ARM  2.727700e+08
10                   American Samoa          ASM           NaN
11              Antigua and Barbuda          ATG  2.350000e+06
12                        Australia          AUS           NaN
13                          Austria          AUT           NaN
14                       Azerbaijan          AZE  3.376100e+08
15                          Burundi          BDI  5.227400e+08
16                          Belgium          BEL           NaN
17                            Benin          BEN  5.113300e+08
18                     Burkina Faso          BFA  1.158540e+09
19                       Bangladesh          BGD  2.152090e+09
20                         Bulgaria          BGR           NaN
21                          Bahrain          BHR           NaN
22                     Bahamas, The          BHS           NaN
23           Bosnia and Herzegovina          BIH  5.711300e+08
24                          Belarus          BLR  1.032200e+08
25                           Belize          BLZ  2.518000e+07
26                          Bermuda          BMU           NaN
27                          Bolivia          BOL  6.586300e+08
28                           Brazil          BRA  1.288220e+09
29                         Barbados          BRB           NaN
..                              ...          ...           ...
228                            Togo          TGO  2.414600e+08
229                        Thailand          THA -1.347900e+08
230                      Tajikistan          TJK  3.939100e+08
231                    Turkmenistan          TKM  3.803000e+07
232                     Timor-Leste          TLS  2.830700e+08
233                           Tonga          TON  7.826000e+07
234             Trinidad and Tobago          TTO           NaN
235                         Tunisia          TUN  1.017020e+09
236                          Turkey          TUR  3.033130e+09
237                          Tuvalu          TUV  2.449000e+07
238                        Tanzania          TZA  2.831890e+09
239                          Uganda          UGA  1.655190e+09
240                         Ukraine          UKR  7.692300e+08
241             Upper middle income          UMC  1.559465e+10
242                         Uruguay          URY  1.932000e+07
243                   United States          USA           NaN
244                      Uzbekistan          UZB  2.552600e+08
245  St. Vincent and the Grenadines          VCT  8.560000e+06
246                   Venezuela, RB          VEN  4.813000e+07
247           Virgin Islands (U.S.)          VIR           NaN
248                         Vietnam          VNM  4.115780e+09
249                         Vanuatu          VUT  1.014200e+08
250              West Bank and Gaza          PSE  2.001390e+09
251                           World          WLD  1.330394e+11
252                           Samoa          WSM  1.206700e+08
253                     Yemen, Rep.          YEM  7.093900e+08
254                    South Africa          ZAF  1.067150e+09
255                Congo, Dem. Rep.          COD  2.859380e+09
256                          Zambia          ZMB  9.577200e+08
257                        Zimbabwe          ZWE  1.001220e+09

[258 rows x 3 columns]

In [25]:
df_pop_total[['Country Name', 'Country Code', '2012']]

                       Country Name Country Code        2012
0                             Aruba          ABW      102384
1                           Andorra          AND       78360
2                       Afghanistan          AFG    29824536
3                            Angola          AGO    20820525
4                           Albania          ALB     2801681
5                     Andean Region          ANR         NaN
6                        Arab World          ARB   362466629
7              United Arab Emirates          ARE     9205651
8                         Argentina          ARG    41086927
9                           Armenia          ARM     2969081
10                   American Samoa          ASM       55128
11              Antigua and Barbuda          ATG       89069
12                        Australia          AUS    22723900
13                          Austria          AUT     8429991
14                       Azerbaijan          AZE     9295784
15                          Burundi          BDI     9849569
16                          Belgium          BEL    11128246
17                            Benin          BEN    10050702
18                     Burkina Faso          BFA    16460141
19                       Bangladesh          BGD   154695368
20                         Bulgaria          BGR     7305888
21                          Bahrain          BHR     1317827
22                     Bahamas, The          BHS      371960
23           Bosnia and Herzegovina          BIH     3833916
24                          Belarus          BLR     9464000
25                           Belize          BLZ      324060
26                          Bermuda          BMU       64798
27                          Bolivia          BOL    10496285
28                           Brazil          BRA   198656019
29                         Barbados          BRB      283221
..                              ...          ...         ...
228                            Togo          TGO     6642928
229                        Thailand          THA    66785001
230                      Tajikistan          TJK     8008990
231                    Turkmenistan          TKM     5172931
232                     Timor-Leste          TLS     1148958
233                           Tonga          TON      104941
234             Trinidad and Tobago          TTO     1337439
235                         Tunisia          TUN    10777500
236                          Turkey          TUR    73997128
237                          Tuvalu          TUV        9860
238                        Tanzania          TZA    47783107
239                          Uganda          UGA    36345860
240                         Ukraine          UKR    45593300
241             Upper middle income          UMC  2390210774
242                         Uruguay          URY     3395253
243                   United States          USA   313873685
244                      Uzbekistan          UZB    29774500
245  St. Vincent and the Grenadines          VCT      109373
246                   Venezuela, RB          VEN    29954782
247           Virgin Islands (U.S.)          VIR      105275
248                         Vietnam          VNM    88772900
249                         Vanuatu          VUT      247262
250              West Bank and Gaza          PSE     4046901
251                           World          WLD  7043105591
252                           Samoa          WSM      188889
253                     Yemen, Rep.          YEM    23852409
254                    South Africa          ZAF    52274945
255                Congo, Dem. Rep.          COD    65705093
256                          Zambia          ZMB    14075099
257                        Zimbabwe          ZWE    13724317

[258 rows x 3 columns]

In [31]:
df_aid_pop = pd.merge(df_net_aid, df_pop_total,
                      on='Country Code',
                      how='outer',
                      suffixes=('_aid', '_pop'))
df_aid_pop.head()

,Country Name_aid,Country Code,Indicator Name_aid,Indicator Code_aid,1960_aid,1961_aid,1962_aid,1963_aid,1964_aid,1965_aid,...,2005_pop,2006_pop,2007_pop,2008_pop,2009_pop,2010_pop,2011_pop,2012_pop,2013_pop,Unnamed: 58_pop
0,Aruba,ABW,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,100031,100830,101219,101344,101418,101597,101932,102384,102911,NaN
1,Andorra,AND,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,81223,81877,81292,79969,78659,77907,77865,78360,79218,NaN
2,Afghanistan,AFG,Net official development assistance and offici...,DT.ODA.ALLD.CD,17180000,34670000,16930000,36670000,46170000,53930000,...,24860855,25631282,26349243,27032197,27708187,28397812,29105480,29824536,30551674,NaN
3,Angola,AGO,Net official development assistance and offici...,DT.ODA.ALLD.CD,-50000,23550000,NaN,30000,NaN,1110000,...,16544376,17122409,17712824,18314441,18926650,19549124,20180490,20820525,21471618,NaN
4,Albania,ALB,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2992724,2968028,2940880,2912559,2884303,2856673,2829337,2801681,2773620,NaN

In [86]:
for year in xrange(1960, 2012 + 1):
    aidcolumn = '%d_aid' % year
    popcolumn = '%d_pop' % year
    aidpercapitacolumn = '%d_aid_per_capita' % year
    df_aid_pop[aidpercapitacolumn] = df_aid_pop[aidcolumn] / df_aid_pop[popcolumn]
    
path = 'wb_aid_per_capita_1960-2013.csv'
df_aid_pop.to_csv(path)

df_aid_pop

,Country Name_aid,Country Code,Indicator Name_aid,Indicator Code_aid,1960_aid,1961_aid,1962_aid,1963_aid,1964_aid,1965_aid,...,2000_aid_per_capita,2001_aid_per_capita,2002_aid_per_capita,2003_aid_per_capita,2004_aid_per_capita,2005_aid_per_capita,2006_aid_per_capita,2007_aid_per_capita,2008_aid_per_capita,2009_aid_per_capita
0,Aruba,ABW,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,126.571133,-18.300428,110.426865,785.651703,-114.642199,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Net official development assistance and offici...,DT.ODA.ALLD.CD,17180000,34670000,16930000,36670000,46170000,53930000,...,6.603915,19.222606,58.991192,68.941868,96.237171,114.140081,115.549039,188.419834,180.343092,225.033128
3,Angola,AGO,Net official development assistance and offici...,DT.ODA.ALLD.CD,-50000,23550000,NaN,30000,NaN,1110000,...,21.702802,19.654115,27.812309,32.016575,71.632998,25.058062,9.550058,13.982525,20.138207,12.612375
4,Albania,ALB,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,102.896478,87.637165,100.746307,116.855586,99.499797,106.638634,108.415419,104.455129,124.725370,123.759536
5,Andean Region,ANR,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Arab World,ARB,Net official development assistance and offici...,DT.ODA.ALLD.CD,881990000,973930000,929090000,858610000,831420000,666060000,...,18.238197,19.283680,18.341212,30.669248,38.742913,94.491885,55.350718,58.694769,68.462623,41.888168
7,United Arab Emirates,ARE,Net official development assistance and offici...,DT.ODA.ALLD.CD,410000,540000,430000,390000,580000,20000,...,1.057379,0.756680,1.187977,1.472136,1.465018,NaN,NaN,NaN,NaN,NaN
8,Argentina,ARG,Net official development assistance and offici...,DT.ODA.ALLD.CD,28580000,29180000,39800000,37800000,17220000,-62200000,...,1.422375,3.905202,2.166498,2.808503,2.384310,2.488625,2.951608,2.576570,3.291151,3.166379
9,Armenia,ARM,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,70.183070,69.161035,98.322876,83.595957,83.753849,56.499068,71.767029,117.068165,101.639368,177.204417
10,American Samoa,ASM,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Antigua and Barbuda,ATG,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,126.081805,108.139594,168.311883,76.139622,19.946646,94.349906,39.296968,87.443866,102.520240,65.353418
12,Australia,AUS,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Austria,AUT,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Azerbaijan,AZE,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,17.284994,28.326265,42.745000,36.518867,21.159333,25.800032,24.325391,26.244275,26.827487,25.904069
15,Burundi,BDI,Net official development assistance and offici...,DT.ODA.ALLD.CD,7530000,7190000,11070000,6160000,8090000,4860000,...,13.952054,20.343961,24.438288,31.353158,48.469059,46.839336,53.576098,57.514656,60.554620,62.886713
16,Belgium,BEL,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Benin,BEN,Net official development assistance and offici...,DT.ODA.ALLD.CD,20000,1480000,3750000,4260000,18070000,17880000,...,35.031973,38.730794,29.541141,39.111985,49.704675,42.399737,47.292226,54.478386,71.487691,73.809763
18,Burkina Faso,BFA,Net official development assistance and offici...,DT.ODA.ALLD.CD,200000,1350000,4430000,4140000,15400000,17270000,...,15.487669,33.981021,35.763316,42.732153,49.297781,51.659489,65.219450,66.764664,68.293600,71.733843
19,Bangladesh,BGD,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.859428,7.746930,6.614660,10.021770,10.010618,9.214017,8.429564,10.345967,13.993583,8.199295
20,Bulgaria,BGR,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,37.592844,44.144333,41.586240,54.121163,81.833546,NaN,NaN,NaN,NaN,NaN
21,Bahrain,BHR,Net official development assistance and offici...,DT.ODA.ALLD.CD,40000,940000,1350000,640000,580000,880000,...,90.431717,101.338249,84.063554,170.673706,70.956301,NaN,NaN,NaN,NaN,NaN
22,"Bahamas, The",BHS,Net official development assistance and offici...,DT.ODA.ALLD.CD,-40000,NaN,NaN,20000,60000,70000,...,18.370561,28.646392,17.214656,12.895090,14.733251,NaN,NaN,NaN,NaN,NaN
23,Bosnia and Herzegovina,BIH,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,192.451734,164.996586,142.596212,139.104400,176.554902,141.377401,138.053761,154.960432,120.928696,107.516753
24,Belarus,BLR,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.447276,3.973610,3.981754,4.943350,5.096608,5.982614,7.967514,8.761506,11.563812,10.262964
25,Belize,BLZ,Net official development assistance and offici...,DT.ODA.ALLD.CD,1820000,2820000,5520000,4060000,1550000,2130000,...,61.445349,90.416724,88.892066,45.597764,28.599457,44.755811,30.933563,76.066751,81.282533,91.556595
26,Bermuda,BMU,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,10000,50000,...,0.970356,0.319980,0.317904,0.473747,1.411986,NaN,NaN,NaN,NaN,NaN
27,Bolivia,BOL,Net official development assistance and offici...,DT.ODA.ALLD.CD,12080000,23630000,35910000,53500000,40920000,33960000,...,56.703312,85.790095,77.948967,104.073657,85.489044,68.741850,89.307000,49.171928,63.846222,72.572855
28,Brazil,BRA,Net official development assistance and offici...,DT.ODA.ALLD.CD,24110000,266570000,166560000,197240000,249000000,236070000,...,1.325865,1.240505,1.157955,1.090931,0.838975,1.305828,0.602920,1.690553,2.400640,1.741322
29,Barbados,BRB,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,0.898237,-4.286311,12.280910,73.400186,105.839349,-6.616271,-7.565755,63.378421,25.645274,42.866462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Togo,TGO,Net official development assistance and offici...,DT.ODA.ALLD.CD,110000,2930000,4530000,6650000,14940000,13360000,...,14.296718,9.230353,10.022105,9.486674,12.023303,14.898341,14.052441,20.980989,55.126596,81.133288
229,Thailand,THA,Net official development assistance and offici...,DT.ODA.ALLD.CD,43780000,29340000,37890000,36330000,31850000,49090000,...,11.174082,4.445285,4.597648,-14.625125,0.727176,-2.557372,-3.294277,-4.706484,-9.345121,-1.173252
230,Tajikistan,TJK,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,19.970411,26.282567,26.287773,22.682828,38.028616,36.954562,34.688222,31.234597,39.679725,54.800362
231,Turkmenistan,TKM,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.841972,16.534256,9.506168,6.144529,11.552359,6.396594,8.478433,5.862210,3.686801,8.001668
232,Timor-Leste,TLS,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,1640000,NaN,NaN,NaN,NaN,...,270.939625,222.837358,243.560193,187.524977,166.744744,187.976465,209.268177,274.027506,268.886689,206.299159
233,Tonga,TON,Net official development assistance and offici...,DT.ODA.ALLD.CD,10000,20000,70000,50000,60000,500000,...,192.115310,205.778446,227.990674,279.363232,192.984380,316.759113,211.480363,301.694219,249.740158,378.921753
234,Trinidad and Tobago,TTO,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,80000,550000,11520000,12030000,16240000,...,-1.206644,-1.359692,-6.715070,-2.258799,-1.402689,-1.526679,10.602404,15.877378,7.056863,5.171952
235,Tunisia,TUN,Net official development assistance and offici...,DT.ODA.ALLD.CD,51830000,93820000,70110000,83560000,71070000,90920000,...,23.185026,37.767739,22.579458,30.464034,35.470782,36.137202,42.592245,31.411918,36.302026,48.161807
236,Turkey,TUR,Net official development assistance and offici...,DT.ODA.ALLD.CD,137310000,188280000,229590000,222670000,162080000,189410000,...,5.175032,2.053345,4.292374,2.496426,4.268342,5.845913,8.243774,11.398270,15.862483,19.111445
237,Tuvalu,TUV,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,427.858584,1004.117833,1228.751312,650.677789,829.359320,949.040644,1576.243321,1202.376075,1646.914589,1781.199021
238,Tanzania,TZA,Net official development assistance and offici...,DT.ODA.ALLD.CD,10360000,39190000,47010000,31060000,45650000,38630000,...,31.272898,36.515703,35.463955,46.935555,46.932437,38.611559,47.150209,68.618946,55.047258,67.212802
239,Uganda,UGA,Net official development assistance and offici...,DT.ODA.ALLD.CD,20600000,21230000,28770000,19590000,22490000,20120000,...,35.149638,32.772199,27.960439,37.172445,43.793734,41.502713,53.394662,56.536637,51.652990,54.305081
240,Ukraine,UKR,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,10.954971,10.526486,9.865671,6.864667,7.923653,8.739809,10.333902,9.036463,13.350714,14.465847
241,Upper middle income,UMC,Net official development assistance and offici...,DT.ODA.ALLD.CD,781640000,1416770000,1330280000,1224640000,952720000,1046010000,...,4.758051,4.799290,5.248723,6.055169,7.777843,14.230595,8.674907,8.786234,10.004318,6.530593
242,Uruguay,URY,Net official development assistance and offici...,DT.ODA.ALLD.CD,17330000,-570000,1950000,12270000,4420000,320000,...,5.239637,4.566001,4.123216,7.090853,8.739939,4.342655,6.326915,11.086202,9.940583,14.887971
243,United States,USA,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Uzbekistan,UZB,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.535375,6.163965,7.488569,7.609225,9.506908,6.488707,5.636461,6.321647,6.860835,6.833553
245,St. Vincent and the Grenadines,VCT,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,57.276847,75.192844,42.256126,59.804528,97.824285,70.713294,43.431153,603.879132,246.065336,281.558641
246,"Venezuela, RB",VEN,Net official development assistance and offici...,DT.ODA.ALLD.CD,-7490000,-4880000,68890000,47720000,-51700000,3800000,...,3.116248,1.796510,2.231422,3.144137,1.710119,1.882070,2.314379,2.811693,2.105951,2.320957
247,Virgin Islands (U.S.),VIR,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Vietnam,VNM,Net official development assistance and offici...,DT.ODA.ALLD.CD,191850000,167110000,176030000,226670000,244990000,314150000,...,21.658386,18.213327,16.095561,22.019948,22.671441,23.223434,22.139882,29.813669,29.979571,43.379134
249,Vanuatu,VUT,Net official development assistance and offici...,DT.ODA.ALLD.CD,150000,280000,410000,510000,650000,580000,...,247.489976,167.525160,141.686002,164.914150,189.776373,188.561194,227.296021,257.680647,409.364768,447.033137
250,West Bank and Gaza,PSE,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,234.245093,332.775810,315.932409,330.221945,358.657441,305.900260,399.329602,491.375580,686.765157,760.797987
251,World,WLD,Net official development assistance and offici...,DT.ODA.ALLD.CD,4254390000,5219020000,5439680000,5962450000,5835340000,6242640000,...,9.447816,9.523241,10.940539,12.463048,13.864458,16.709992,16.291665,16.263288,18.951657,18.603998
252,Samoa,WSM,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,30000,90000,170000,210000,230000,...,155.428545,243.952451,214.449126,185.561440,172.992382,242.041261,259.950407,205.607989,219.740084,418.561590
253,"Yemen, Rep.",YEM,Net official development assistance and offici...,DT.ODA.ALLD.CD,14690000,14880000,18080000,21580000,23330000,31540000,...,17.764551,20.542996,11.683963,12.776903,13.584568,14.723684,13.910269,11.451145,19.794438,25.094890
254,South Africa,ZAF,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,11.053864,9.471220,11.160317,14.128220,13.379356,14.487960,14.812382,16.509628,22.702814,21.395378
255,"Congo, Dem. Rep.",COD,Net official development assistance and offici...,DT.ODA.ALLD.CD,82090000,91160000,120970000,111500000,127020000,142070000,...,3.772585,5.094147,23.728840,106.273163,36.561421,34.828235,39.525938,23.723707,30.023782,38.965037
256,Zambia,ZMB,Net official development assistance and offici...,DT.ODA.ALLD.CD,920000,910000,5880000,5380000,20990000,10860000,...,78.670577,55.089023,76.357431,71.094465,101.163795,102.183762,124.561902,83.226394,89.610852,98.795863
257,Zimbabwe,ZWE,Net official development assistance and offici...,DT.ODA.ALLD.CD,NaN,10000,NaN,10860000,4570000,3720000,...,14.047096,12.785654,15.729074,14.753293,14.736414,29.323582,21.866808,37.527786,47.905040,57.120388

In [92]:
df_per_capita_2012 = df_aid_pop[['Country Code', 'Country Name_aid',
                            '2012_aid', '2012_pop', '2012_aid_per_capita']]
df_per_capita_2012

,Country Code,Country Name_aid,2012_aid,2012_pop,2012_aid_per_capita
0,ABW,Aruba,NaN,102384,NaN
1,AND,Andorra,NaN,78360,NaN
2,AFG,Afghanistan,6.725030e+09,29824536,225.486492
3,AGO,Angola,2.423500e+08,20820525,11.639956
4,ALB,Albania,3.416200e+08,2801681,121.933939
5,ANR,Andean Region,NaN,NaN,NaN
6,ARB,Arab World,1.495131e+10,362466629,41.248790
7,ARE,United Arab Emirates,NaN,9205651,NaN
8,ARG,Argentina,1.789200e+08,41086927,4.354670
9,ARM,Armenia,2.727700e+08,2969081,91.870178
10,ASM,American Samoa,NaN,55128,NaN
11,ATG,Antigua and Barbuda,2.350000e+06,89069,26.384039
12,AUS,Australia,NaN,22723900,NaN
13,AUT,Austria,NaN,8429991,NaN
14,AZE,Azerbaijan,3.376100e+08,9295784,36.318615
15,BDI,Burundi,5.227400e+08,9849569,53.072373
16,BEL,Belgium,NaN,11128246,NaN
17,BEN,Benin,5.113300e+08,10050702,50.875053
18,BFA,Burkina Faso,1.158540e+09,16460141,70.384573
19,BGD,Bangladesh,2.152090e+09,154695368,13.911793
20,BGR,Bulgaria,NaN,7305888,NaN
21,BHR,Bahrain,NaN,1317827,NaN
22,BHS,"Bahamas, The",NaN,371960,NaN
23,BIH,Bosnia and Herzegovina,5.711300e+08,3833916,148.967792
24,BLR,Belarus,1.032200e+08,9464000,10.906593
25,BLZ,Belize,2.518000e+07,324060,77.701660
26,BMU,Bermuda,NaN,64798,NaN
27,BOL,Bolivia,6.586300e+08,10496285,62.748868
28,BRA,Brazil,1.288220e+09,198656019,6.484676
29,BRB,Barbados,NaN,283221,NaN
...,...,...,...,...,...
228,TGO,Togo,2.414600e+08,6642928,36.348429
229,THA,Thailand,-1.347900e+08,66785001,-2.018268
230,TJK,Tajikistan,3.939100e+08,8008990,49.183480
231,TKM,Turkmenistan,3.803000e+07,5172931,7.351732
232,TLS,Timor-Leste,2.830700e+08,1148958,246.371060
233,TON,Tonga,7.826000e+07,104941,745.752375
234,TTO,Trinidad and Tobago,NaN,1337439,NaN
235,TUN,Tunisia,1.017020e+09,10777500,94.365113
236,TUR,Turkey,3.033130e+09,73997128,40.989834
237,TUV,Tuvalu,2.449000e+07,9860,2483.772819
238,TZA,Tanzania,2.831890e+09,47783107,59.265506
239,UGA,Uganda,1.655190e+09,36345860,45.539987
240,UKR,Ukraine,7.692300e+08,45593300,16.871558
241,UMC,Upper middle income,1.559465e+10,2390210774,6.524383
242,URY,Uruguay,1.932000e+07,3395253,5.690298
243,USA,United States,NaN,313873685,NaN
244,UZB,Uzbekistan,2.552600e+08,29774500,8.573108
245,VCT,St. Vincent and the Grenadines,8.560000e+06,109373,78.264288
246,VEN,"Venezuela, RB",4.813000e+07,29954782,1.606755
247,VIR,Virgin Islands (U.S.),NaN,105275,NaN
248,VNM,Vietnam,4.115780e+09,88772900,46.363023
249,VUT,Vanuatu,1.014200e+08,247262,410.172206
250,PSE,West Bank and Gaza,2.001390e+09,4046901,494.548792
251,WLD,World,1.330394e+11,7043105591,18.889309
252,WSM,Samoa,1.206700e+08,188889,638.840801
253,YEM,"Yemen, Rep.",7.093900e+08,23852409,29.740812
254,ZAF,South Africa,1.067150e+09,52274945,20.414177
255,COD,"Congo, Dem. Rep.",2.859380e+09,65705093,43.518392
256,ZMB,Zambia,9.577200e+08,14075099,68.043571
257,ZWE,Zimbabwe,1.001220e+09,13724317,72.952264

In [93]:
df_per_capita_2012.sort(columns=['2012_aid_per_capita'])

,Country Code,Country Name_aid,2012_aid,2012_pop,2012_aid_per_capita
229,THA,Thailand,-134790000,66785001,-2.018268
42,CHN,China,-194130000,1350695000,-0.143726
71,EMU,Euro area,0,333228712,0.000000
169,NAC,North America,0,348692795,0.000000
76,EUU,European Union,0,505640311,0.000000
37,CEB,Central Europe and the Baltics,0,104429039,0.000000
187,PHL,Philippines,5140000,96706764,0.053150
180,OEC,High income: OECD,125510000,1049561526,0.119583
97,HIC,High income,188330000,1299489520,0.144926
176,NOC,High income: nonOECD,57780000,249927994,0.231187
104,IDN,Indonesia,67810000,246864191,0.274685
168,MYS,Malaysia,15370000,29239927,0.525651
106,IND,India,1667630000,1236686732,1.348466
246,VEN,"Venezuela, RB",48130000,29954782,1.606755
109,IRN,"Iran, Islamic Rep.",148890000,76424443,1.948199
181,OED,OECD members,3576450000,1254326493,2.851291
153,MEX,Mexico,417810000,120847477,3.457333
64,DZA,Algeria,144500000,38481705,3.755031
66,EAS,East Asia & Pacific (all income levels),8796050000,2233723905,3.937841
192,PRK,"Korea, Dem. Rep.",98140000,24763188,3.963141
8,ARG,Argentina,178920000,41086927,4.354670
65,EAP,East Asia & Pacific (developing only),8796050000,1991555125,4.416674
242,URY,Uruguay,19320000,3395253,5.690298
28,BRA,Brazil,1288220000,198656019,6.484676
241,UMC,Upper middle income,15594650000,2390210774,6.524383
51,CRI,Costa Rica,32700000,4805295,6.804993
41,CHL,Chile,125510000,17464814,7.186449
231,TKM,Turkmenistan,38030000,5172931,7.351732
117,KAZ,Kazakhstan,129640000,16791425,7.720607
114,JAM,Jamaica,21050000,2707805,7.773824
...,...,...,...,...,...
144,MAC,"Macao SAR, China",NaN,556783,NaN
145,MAF,St. Martin (French part),NaN,30959,NaN
147,MCA,Mexico and Central America,NaN,NaN,NaN
148,MCO,Monaco,NaN,37579,NaN
158,MLT,Malta,NaN,419455,NaN
163,MNP,Northern Mariana Islands,NaN,53305,NaN
171,NCL,New Caledonia,NaN,258000,NaN
175,NLD,Netherlands,NaN,16754962,NaN
177,NOR,Norway,NaN,5018573,NaN
179,NZL,New Zealand,NaN,4433000,NaN
182,OMN,Oman,NaN,3314001,NaN
190,POL,Poland,NaN,38535873,NaN
191,PRI,Puerto Rico,NaN,3651545,NaN
193,PRT,Portugal,NaN,10514844,NaN
196,PYF,French Polynesia,NaN,273814,NaN
197,QAT,Qatar,NaN,2050514,NaN
198,ROU,Romania,NaN,20076727,NaN
199,RUS,Russian Federation,NaN,143178000,NaN
202,SAU,Saudi Arabia,NaN,28287855,NaN
203,SCE,Southern Cone Extended,NaN,NaN,NaN
206,SGP,Singapore,NaN,5312400,NaN
210,SMR,San Marino,NaN,31247,NaN
219,SVK,Slovak Republic,NaN,5407579,NaN
220,SVN,Slovenia,NaN,2057159,NaN
221,SWE,Sweden,NaN,9519374,NaN
223,SXM,Sint Maarten (Dutch part),NaN,39088,NaN
226,TCA,Turks and Caicos Islands,NaN,32427,NaN
234,TTO,Trinidad and Tobago,NaN,1337439,NaN
243,USA,United States,NaN,313873685,NaN
247,VIR,Virgin Islands (U.S.),NaN,105275,NaN

In [94]:
df_per_capita_2012.sort(columns=['2012_aid_per_capita'], ascending=False)

,Country Code,Country Name_aid,2012_aid,2012_pop,2012_aid_per_capita
237,TUV,Tuvalu,24490000,9860,2483.772819
154,MHL,Marshall Islands,76010000,52555,1446.294358
82,FSM,"Micronesia, Fed. Sts.",115040000,103395,1112.626336
233,TON,Tonga,78260000,104941,745.752375
188,PLW,Palau,15000000,20754,722.752241
121,KIR,Kiribati,64660000,100786,641.557359
252,WSM,Samoa,120670000,188889,638.840801
207,SLB,Solomon Islands,304980000,549598,554.914683
50,CPV,Cabo Verde,246140000,494401,497.854980
250,PSE,West Bank and Gaza,2001390000,4046901,494.548792
195,PSS,Pacific island small states,1007870000,2252782,447.389051
249,VUT,Vanuatu,101420000,247262,410.172206
122,KNA,St. Kitts and Nevis,21910000,53584,408.890714
224,SYC,Seychelles,35330000,88303,400.099657
61,DMA,Dominica,25660000,71684,357.959935
124,KSV,Kosovo,567680000,1807106,314.137632
217,STP,Sao Tome and Principe,48790000,188098,259.386065
232,TLS,Timor-Leste,283070000,1148958,246.371060
2,AFG,Afghanistan,6725030000,29824536,225.486492
115,JOR,Jordan,1416970000,6318000,224.275087
31,BTN,Bhutan,161280000,741822,217.410646
151,MDV,Maldives,58010000,338442,171.403076
60,DJI,Djibouti,146590000,859652,170.522490
161,MNE,Montenegro,103220000,621081,166.194104
128,LBN,Lebanon,710240000,4424888,160.510277
162,MNG,Mongolia,448780000,2796484,160.480089
212,SRB,Serbia,1089870000,7199077,151.390241
23,BIH,Bosnia and Herzegovina,571130000,3833916,148.967792
131,LCA,St. Lucia,26840000,180870,148.393874
85,GEO,Georgia,662210000,4490700,147.462534
...,...,...,...,...,...
144,MAC,"Macao SAR, China",NaN,556783,NaN
145,MAF,St. Martin (French part),NaN,30959,NaN
147,MCA,Mexico and Central America,NaN,NaN,NaN
148,MCO,Monaco,NaN,37579,NaN
158,MLT,Malta,NaN,419455,NaN
163,MNP,Northern Mariana Islands,NaN,53305,NaN
171,NCL,New Caledonia,NaN,258000,NaN
175,NLD,Netherlands,NaN,16754962,NaN
177,NOR,Norway,NaN,5018573,NaN
179,NZL,New Zealand,NaN,4433000,NaN
182,OMN,Oman,NaN,3314001,NaN
190,POL,Poland,NaN,38535873,NaN
191,PRI,Puerto Rico,NaN,3651545,NaN
193,PRT,Portugal,NaN,10514844,NaN
196,PYF,French Polynesia,NaN,273814,NaN
197,QAT,Qatar,NaN,2050514,NaN
198,ROU,Romania,NaN,20076727,NaN
199,RUS,Russian Federation,NaN,143178000,NaN
202,SAU,Saudi Arabia,NaN,28287855,NaN
203,SCE,Southern Cone Extended,NaN,NaN,NaN
206,SGP,Singapore,NaN,5312400,NaN
210,SMR,San Marino,NaN,31247,NaN
219,SVK,Slovak Republic,NaN,5407579,NaN
220,SVN,Slovenia,NaN,2057159,NaN
221,SWE,Sweden,NaN,9519374,NaN
223,SXM,Sint Maarten (Dutch part),NaN,39088,NaN
226,TCA,Turks and Caicos Islands,NaN,32427,NaN
234,TTO,Trinidad and Tobago,NaN,1337439,NaN
243,USA,United States,NaN,313873685,NaN
247,VIR,Virgin Islands (U.S.),NaN,105275,NaN

In [95]:
df_per_capita_2012[
    df_per_capita_2012['2012_aid_per_capita']
    .isnull()
]

,Country Code,Country Name_aid,2012_aid,2012_pop,2012_aid_per_capita
0,ABW,Aruba,NaN,102384,NaN
1,AND,Andorra,NaN,78360,NaN
5,ANR,Andean Region,NaN,NaN,NaN
7,ARE,United Arab Emirates,NaN,9205651,NaN
10,ASM,American Samoa,NaN,55128,NaN
12,AUS,Australia,NaN,22723900,NaN
13,AUT,Austria,NaN,8429991,NaN
16,BEL,Belgium,NaN,11128246,NaN
20,BGR,Bulgaria,NaN,7305888,NaN
21,BHR,Bahrain,NaN,1317827,NaN
22,BHS,"Bahamas, The",NaN,371960,NaN
26,BMU,Bermuda,NaN,64798,NaN
29,BRB,Barbados,NaN,283221,NaN
30,BRN,Brunei Darussalam,NaN,412238,NaN
33,CAA,Sub-Saharan Africa (IFC classification),NaN,NaN,NaN
35,CAN,Canada,NaN,34754312,NaN
36,CEA,East Asia and the Pacific (IFC classification),NaN,NaN,NaN
38,CEU,Europe and Central Asia (IFC classification),NaN,NaN,NaN
39,CHE,Switzerland,NaN,7996861,NaN
40,CHI,Channel Islands,NaN,161235,NaN
44,CLA,Latin America and the Caribbean (IFC classific...,NaN,NaN,NaN
45,CME,Middle East and North Africa (IFC classification),NaN,NaN,NaN
52,CSA,South Asia (IFC classification),NaN,NaN,NaN
55,CUW,Curacao,NaN,152056,NaN
56,CYM,Cayman Islands,NaN,57570,NaN
57,CYP,Cyprus,NaN,1128994,NaN
58,CZE,Czech Republic,NaN,10510785,NaN
59,DEU,Germany,NaN,80425823,NaN
62,DNK,Denmark,NaN,5591572,NaN
73,ESP,Spain,NaN,46761264,NaN
...,...,...,...,...,...
144,MAC,"Macao SAR, China",NaN,556783,NaN
145,MAF,St. Martin (French part),NaN,30959,NaN
147,MCA,Mexico and Central America,NaN,NaN,NaN
148,MCO,Monaco,NaN,37579,NaN
158,MLT,Malta,NaN,419455,NaN
163,MNP,Northern Mariana Islands,NaN,53305,NaN
171,NCL,New Caledonia,NaN,258000,NaN
175,NLD,Netherlands,NaN,16754962,NaN
177,NOR,Norway,NaN,5018573,NaN
179,NZL,New Zealand,NaN,4433000,NaN
182,OMN,Oman,NaN,3314001,NaN
190,POL,Poland,NaN,38535873,NaN
191,PRI,Puerto Rico,NaN,3651545,NaN
193,PRT,Portugal,NaN,10514844,NaN
196,PYF,French Polynesia,NaN,273814,NaN
197,QAT,Qatar,NaN,2050514,NaN
198,ROU,Romania,NaN,20076727,NaN
199,RUS,Russian Federation,NaN,143178000,NaN
202,SAU,Saudi Arabia,NaN,28287855,NaN
203,SCE,Southern Cone Extended,NaN,NaN,NaN
206,SGP,Singapore,NaN,5312400,NaN
210,SMR,San Marino,NaN,31247,NaN
219,SVK,Slovak Republic,NaN,5407579,NaN
220,SVN,Slovenia,NaN,2057159,NaN
221,SWE,Sweden,NaN,9519374,NaN
223,SXM,Sint Maarten (Dutch part),NaN,39088,NaN
226,TCA,Turks and Caicos Islands,NaN,32427,NaN
234,TTO,Trinidad and Tobago,NaN,1337439,NaN
243,USA,United States,NaN,313873685,NaN
247,VIR,Virgin Islands (U.S.),NaN,105275,NaN

In [96]:
(df_per_capita_2012[
    df_per_capita_2012['2012_aid_per_capita']
    .notnull()
].sort('2012_aid_per_capita', ascending=False))

,Country Code,Country Name_aid,2012_aid,2012_pop,2012_aid_per_capita
237,TUV,Tuvalu,24490000,9860,2483.772819
154,MHL,Marshall Islands,76010000,52555,1446.294358
82,FSM,"Micronesia, Fed. Sts.",115040000,103395,1112.626336
233,TON,Tonga,78260000,104941,745.752375
188,PLW,Palau,15000000,20754,722.752241
121,KIR,Kiribati,64660000,100786,641.557359
252,WSM,Samoa,120670000,188889,638.840801
207,SLB,Solomon Islands,304980000,549598,554.914683
50,CPV,Cabo Verde,246140000,494401,497.854980
250,PSE,West Bank and Gaza,2001390000,4046901,494.548792
195,PSS,Pacific island small states,1007870000,2252782,447.389051
249,VUT,Vanuatu,101420000,247262,410.172206
122,KNA,St. Kitts and Nevis,21910000,53584,408.890714
224,SYC,Seychelles,35330000,88303,400.099657
61,DMA,Dominica,25660000,71684,357.959935
124,KSV,Kosovo,567680000,1807106,314.137632
217,STP,Sao Tome and Principe,48790000,188098,259.386065
232,TLS,Timor-Leste,283070000,1148958,246.371060
2,AFG,Afghanistan,6725030000,29824536,225.486492
115,JOR,Jordan,1416970000,6318000,224.275087
31,BTN,Bhutan,161280000,741822,217.410646
151,MDV,Maldives,58010000,338442,171.403076
60,DJI,Djibouti,146590000,859652,170.522490
161,MNE,Montenegro,103220000,621081,166.194104
128,LBN,Lebanon,710240000,4424888,160.510277
162,MNG,Mongolia,448780000,2796484,160.480089
212,SRB,Serbia,1089870000,7199077,151.390241
23,BIH,Bosnia and Herzegovina,571130000,3833916,148.967792
131,LCA,St. Lucia,26840000,180870,148.393874
85,GEO,Georgia,662210000,4490700,147.462534
...,...,...,...,...,...
114,JAM,Jamaica,21050000,2707805,7.773824
117,KAZ,Kazakhstan,129640000,16791425,7.720607
231,TKM,Turkmenistan,38030000,5172931,7.351732
41,CHL,Chile,125510000,17464814,7.186449
51,CRI,Costa Rica,32700000,4805295,6.804993
241,UMC,Upper middle income,15594650000,2390210774,6.524383
28,BRA,Brazil,1288220000,198656019,6.484676
242,URY,Uruguay,19320000,3395253,5.690298
65,EAP,East Asia & Pacific (developing only),8796050000,1991555125,4.416674
8,ARG,Argentina,178920000,41086927,4.354670
192,PRK,"Korea, Dem. Rep.",98140000,24763188,3.963141
66,EAS,East Asia & Pacific (all income levels),8796050000,2233723905,3.937841
64,DZA,Algeria,144500000,38481705,3.755031
153,MEX,Mexico,417810000,120847477,3.457333
181,OED,OECD members,3576450000,1254326493,2.851291
109,IRN,"Iran, Islamic Rep.",148890000,76424443,1.948199
246,VEN,"Venezuela, RB",48130000,29954782,1.606755
106,IND,India,1667630000,1236686732,1.348466
168,MYS,Malaysia,15370000,29239927,0.525651
104,IDN,Indonesia,67810000,246864191,0.274685
176,NOC,High income: nonOECD,57780000,249927994,0.231187
97,HIC,High income,188330000,1299489520,0.144926
180,OEC,High income: OECD,125510000,1049561526,0.119583
187,PHL,Philippines,5140000,96706764,0.053150
169,NAC,North America,0,348692795,0.000000
76,EUU,European Union,0,505640311,0.000000
37,CEB,Central Europe and the Baltics,0,104429039,0.000000
71,EMU,Euro area,0,333228712,0.000000
42,CHN,China,-194130000,1350695000,-0.143726
229,THA,Thailand,-134790000,66785001,-2.018268

In [98]:
!pwd
path = None  # "wb_aid_per_capita_2012.csv"
print(df_per_capita_2012.to_csv(path))

/Users/W/Downloads
,Country Code,Country Name_aid,2012_aid,2012_pop,2012_aid_per_capita
0,ABW,Aruba,,102384.0,
1,AND,Andorra,,78360.0,
2,AFG,Afghanistan,6725030000.0,29824536.0,225.4864920614356
3,AGO,Angola,242350000.0,20820525.0,11.639956245099487
4,ALB,Albania,341620000.0,2801681.0,121.93393894593996
5,ANR,Andean Region,,,
6,ARB,Arab World,14951310000.0,362466629.0,41.24879038174849
7,ARE,United Arab Emirates,,9205651.0,
8,ARG,Argentina,178920000.0,41086927.0,4.354669795577557
9,ARM,Armenia,272770000.0,2969081.0,91.87017801131057
10,ASM,American Samoa,,55128.0,
11,ATG,Antigua and Barbuda,2350000.0,89069.0,26.384039340286744
12,AUS,Australia,,22723900.0,
13,AUT,Austria,,8429991.0,
14,AZE,Azerbaijan,337610000.0,9295784.0,36.31861497642372
15,BDI,Burundi,522740000.0,9849569.0,53.07237301449434
16,BEL,Belgium,,11128246.0,
17,BEN,Benin,511330000.0,10050702.0,50.87505330473434
18,BFA,Burkina Faso,1158540000.0,16460141.0,70.38457325487066
19,BGD,Bangladesh,2152090000.0,154695368.0,13.911793402889737
20,BGR,Bulgaria,,7305888.0,
21,BHR,Bahrain,,1317827.0,
22,BHS,"Bahamas, The",,371960.0,
23,BIH,Bosnia and Herzegovina,571130000.0,3833916.0,148.96779167827358
24,BLR,Belarus,103220000.0,9464000.0,10.906593406593407
25,BLZ,Belize,25180000.0,324060.0,77.70166018638524
26,BMU,Bermuda,,64798.0,
27,BOL,Bolivia,658630000.0,10496285.0,62.74886781370742
28,BRA,Brazil,1288220000.0,198656019.0,6.484676409427091
29,BRB,Barbados,,283221.0,
30,BRN,Brunei Darussalam,,412238.0,
31,BTN,Bhutan,161280000.0,741822.0,217.41064568050018
32,BWA,Botswana,73860000.0,2003910.0,36.85794272197853
33,CAA,Sub-Saharan Africa (IFC classification),,,
34,CAF,Central African Republic,227250000.0,4525209.0,50.218674982746656
35,CAN,Canada,,34754312.0,
36,CEA,East Asia and the Pacific (IFC classification),,,
37,CEB,Central Europe and the Baltics,0.0,104429039.0,0.0
38,CEU,Europe and Central Asia (IFC classification),,,
39,CHE,Switzerland,,7996861.0,
40,CHI,Channel Islands,,161235.0,
41,CHL,Chile,125510000.0,17464814.0,7.186449280249993
42,CHN,China,-194130000.0,1350695000.0,-0.14372600772195054
43,CIV,Cote d'Ivoire,2635630000.0,19839750.0,132.84592799808465
44,CLA,Latin America and the Caribbean (IFC classification),,,
45,CME,Middle East and North Africa (IFC classification),,,
46,CMR,Cameroon,596240000.0,21699631.0,27.476964930878317
47,COG,"Congo, Rep.",138600000.0,4337051.0,31.95719856649138
48,COL,Colombia,764470000.0,47704427.0,16.025137457368473
49,COM,Comoros,68670000.0,717503.0,95.70691690487705
50,CPV,Cabo Verde,246140000.0,494401.0,497.8549800667879
51,CRI,Costa Rica,32700000.0,4805295.0,6.804993241830106
52,CSA,South Asia (IFC classification),,,
53,CSS,Caribbean small states,293250000.0,6964458.0,42.106650653934594
54,CUB,Cuba,87850000.0,11270957.0,7.794369191542475
55,CUW,Curacao,,152056.0,
56,CYM,Cayman Islands,,57570.0,
57,CYP,Cyprus,,1128994.0,
58,CZE,Czech Republic,,10510785.0,
59,DEU,Germany,,80425823.0,
60,DJI,Djibouti,146590000.0,859652.0,170.52249049615426
61,DMA,Dominica,25660000.0,71684.0,357.95993527146925
62,DNK,Denmark,,5591572.0,
63,DOM,Dominican Republic,261300000.0,10276621.0,25.426645587104943
64,DZA,Algeria,144500000.0,38481705.0,3.755031124530475
65,EAP,East Asia & Pacific (developing only),8796050000.0,1991555125.0,4.416674130473792
66,EAS,East Asia & Pacific (all income levels),8796050000.0,2233723905.0,3.9378411899119645
67,ECA,Europe & Central Asia (developing only),9969870000.0,270395971.0,36.87137039479039
68,ECS,Europe & Central Asia (all income levels),9969870000.0,895364677.0,11.134982489375108
69,ECU,Ecuador,149430000.0,15492264.0,9.645459178852104
70,EGY,"Egypt, Arab Rep.",1806630000.0,80721874.0,22.380922425066593
71,EMU,Euro area,0.0,333228712.0,0.0
72,ERI,Eritrea,133780000.0,6130922.0,21.82053531263324
73,ESP,Spain,,46761264.0,
74,EST,Estonia,,1325016.0,
75,ETH,Ethiopia,3261320000.0,91728849.0,35.55391826621525
76,EUU,European Union,0.0,505640311.0,0.0
77,FCS,Fragile and conflict affected situations,30482720000.0,436224882.0,69.8784531965327
78,FIN,Finland,,5413971.0,
79,FJI,Fiji,107340000.0,874742.0,122.71046777221169
80,FRA,France,,65676758.0,
81,FRO,Faeroe Islands,,49506.0,
82,FSM,"Micronesia, Fed. Sts.",115040000.0,103395.0,1112.62633589632
83,GAB,Gabon,73200000.0,1632572.0,44.83722616827926
84,GBR,United Kingdom,,63695687.0,
85,GEO,Georgia,662210000.0,4490700.0,147.46253368071794
86,GHA,Ghana,1807910000.0,25366462.0,71.27166571357094
87,GIN,Guinea,339650000.0,11451273.0,29.660457837307696
88,GMB,"Gambia, The",138800000.0,1791225.0,77.4888693491884
89,GNB,Guinea-Bissau,78870000.0,1663558.0,47.41042993391273
90,GNQ,Equatorial Guinea,14200000.0,736296.0,19.285722046568228
91,GRC,Greece,,11092771.0,
92,GRD,Grenada,7650000.0,105483.0,72.5235345979921
93,GRL,Greenland,,56810.0,
94,GTM,Guatemala,299430000.0,15082831.0,19.852373868009263
95,GUM,Guam,,162810.0,
96,GUY,Guyana,114450000.0,795369.0,143.89547493050395
97,HIC,High income,188330000.0,1299489520.0,0.14492613991992795
98,HKG,"Hong Kong SAR, China",,7154600.0,
99,HND,Honduras,571530000.0,7935846.0,72.01878665488216
100,HPC,Heavily indebted poor countries (HIPC),41486050000.0,655971763.0,63.24365215092345
101,HRV,Croatia,,4267558.0,
102,HTI,Haiti,1275190000.0,10173775.0,125.34088870650275
103,HUN,Hungary,,9920362.0,
104,IDN,Indonesia,67810000.0,246864191.0,0.27468544435430087
105,IMN,Isle of Man,,85284.0,
106,IND,India,1667630000.0,1236686732.0,1.3484659913049022
107,INX,Not classified,,,
108,IRL,Ireland,,4586897.0,
109,IRN,"Iran, Islamic Rep.",148890000.0,76424443.0,1.9481986934468074
110,IRQ,Iraq,1300790000.0,32578209.0,39.92822318746865
111,ISL,Iceland,,320716.0,
112,ISR,Israel,,7910500.0,
113,ITA,Italy,,59539717.0,
114,JAM,Jamaica,21050000.0,2707805.0,7.77382418601044
115,JOR,Jordan,1416970000.0,6318000.0,224.27508705286482
116,JPN,Japan,,127561489.0,
117,KAZ,Kazakhstan,129640000.0,16791425.0,7.720607393357026
118,KEN,Kenya,2654080000.0,43178141.0,61.46813963111566
119,KGZ,Kyrgyz Republic,472910000.0,5607200.0,84.33977742901983
120,KHM,Cambodia,807410000.0,14864646.0,54.31747247798568
121,KIR,Kiribati,64660000.0,100786.0,641.5573591570258
122,KNA,St. Kitts and Nevis,21910000.0,53584.0,408.8907136458644
123,KOR,"Korea, Rep.",,50004441.0,
124,KSV,Kosovo,567680000.0,1807106.0,314.137632214159
125,KWT,Kuwait,,3250496.0,
126,LAC,Latin America & Caribbean (developing only),10091280000.0,581379260.0,17.357481930125957
127,LAO,Lao PDR,408920000.0,6645827.0,61.530340768726
128,LBN,Lebanon,710240000.0,4424888.0,160.51027732227348
129,LBR,Liberia,570970000.0,4190435.0,136.2555438755165
130,LBY,Libya,87090000.0,6154623.0,14.150338696618785
131,LCA,St. Lucia,26840000.0,180870.0,148.39387405318737
132,LCN,Latin America & Caribbean (all income levels),10265410000.0,608545904.0,16.8687521064968
133,LCR,Latin America and the Caribbean,,,
134,LDC,Least developed countries: UN classification,42985980000.0,877943413.0,48.96213054678958
135,LIC,Low income,39333080000.0,830035274.0,47.38723911147901
136,LIE,Liechtenstein,,36656.0,
137,LKA,Sri Lanka,487500000.0,20328000.0,23.981700118063756
138,LMC,Lower middle income,38963950000.0,2523370023.0,15.441235191371694
139,LMY,Low & middle income,132851000000.0,5743616071.0,23.130202011721476
140,LSO,Lesotho,282680000.0,2051545.0,137.78883719343227
141,LTU,Lithuania,,2987773.0,
142,LUX,Luxembourg,,530946.0,
143,LVA,Latvia,,2034319.0,
144,MAC,"Macao SAR, China",,556783.0,
145,MAF,St. Martin (French part),,30959.0,
146,MAR,Morocco,1480360000.0,32521143.0,45.51992529905852
147,MCA,Mexico and Central America,,,
148,MCO,Monaco,,37579.0,
149,MDA,Moldova,473080000.0,3559519.0,132.9055976383326
150,MDG,Madagascar,378690000.0,22293914.0,16.98625014880743
151,MDV,Maldives,58010000.0,338442.0,171.40307645032237
152,MEA,Middle East & North Africa (all income levels),13893580000.0,395316900.0,35.14542383591493
153,MEX,Mexico,417810000.0,120847477.0,3.4573332466014164
154,MHL,Marshall Islands,76010000.0,52555.0,1446.2943582913138
155,MIC,Middle income,55583690000.0,4913580797.0,11.31225725115516
156,MKD,"Macedonia, FYR",148940000.0,2105575.0,70.73602222670768
157,MLI,Mali,1001300000.0,14853572.0,67.41139437705624
158,MLT,Malta,,419455.0,
159,MMR,Myanmar,504050000.0,52797319.0,9.546886272766994
160,MNA,Middle East & North Africa (developing only),13893580000.0,339560601.0,40.91634883164787
161,MNE,Montenegro,103220000.0,621081.0,166.19410350662795
162,MNG,Mongolia,448780000.0,2796484.0,160.4800885683594
163,MNP,Northern Mariana Islands,,53305.0,
164,MOZ,Mozambique,2096920000.0,25203395.0,83.19990223539328
165,MRT,Mauritania,408310000.0,3796141.0,107.55922922778684
166,MUS,Mauritius,177890000.0,1291167.0,137.77458686599022
167,MWI,Malawi,1174600000.0,15906483.0,73.84410494764933
168,MYS,Malaysia,15370000.0,29239927.0,0.525651107131697
169,NAC,North America,0.0,348692795.0,0.0
170,NAM,Namibia,264860000.0,2259393.0,117.22617534886582
171,NCL,New Caledonia,,258000.0,
172,NER,Niger,901870000.0,17157042.0,52.56558793759437
173,NGA,Nigeria,1915820000.0,168833776.0,11.347373999382683
174,NIC,Nicaragua,532380000.0,5991733.0,88.85242383130223
175,NLD,Netherlands,,16754962.0,
176,NOC,High income: nonOECD,57780000.0,249927994.0,0.23118658728561636
177,NOR,Norway,,5018573.0,
178,NPL,Nepal,769720000.0,27474377.0,28.015921889693804
179,NZL,New Zealand,,4433000.0,
180,OEC,High income: OECD,125510000.0,1049561526.0,0.11958327062381287
181,OED,OECD members,3576450000.0,1254326493.0,2.851291127118049
182,OMN,Oman,,3314001.0,
183,OSS,Other small states,2343610000.0,19858911.0,118.01301692726253
184,PAK,Pakistan,2019060000.0,179160111.0,11.269584444497246
185,PAN,Panama,50770000.0,3802281.0,13.352511295193596
186,PER,Peru,393820000.0,29987800.0,13.132673954074656
187,PHL,Philippines,5140000.0,96706764.0,0.0531503670208632
188,PLW,Palau,15000000.0,20754.0,722.7522405319456
189,PNG,Papua New Guinea,664840000.0,7167010.0,92.7639280536793
190,POL,Poland,,38535873.0,
191,PRI,Puerto Rico,,3651545.0,
192,PRK,"Korea, Dem. Rep.",98140000.0,24763188.0,3.963140771697085
193,PRT,Portugal,,10514844.0,
194,PRY,Paraguay,104410000.0,6687361.0,15.61303479803169
195,PSS,Pacific island small states,1007870000.0,2252782.0,447.38905051620617
196,PYF,French Polynesia,,273814.0,
197,QAT,Qatar,,2050514.0,
198,ROU,Romania,,20076727.0,
199,RUS,Russian Federation,,143178000.0,
200,RWA,Rwanda,878990000.0,11457801.0,76.71541860432032
201,SAS,South Asia,14170540000.0,1649249388.0,8.59211475420599
202,SAU,Saudi Arabia,,28287855.0,
203,SCE,Southern Cone Extended,,,
204,SDN,Sudan,983220000.0,37195349.0,26.433950115644834
205,SEN,Senegal,1080180000.0,13726021.0,78.69578518057054
206,SGP,Singapore,,5312400.0,
207,SLB,Solomon Islands,304980000.0,549598.0,554.9146830956445
208,SLE,Sierra Leone,442820000.0,5978727.0,74.06593410269444
209,SLV,El Salvador,230400000.0,6297394.0,36.58656263209829
210,SMR,San Marino,,31247.0,
211,SOM,Somalia,998620000.0,10195134.0,97.9506497903804
212,SRB,Serbia,1089870000.0,7199077.0,151.39024072113688
213,SSA,Sub-Saharan Africa (developing only),46273770000.0,911475726.0,50.767967462032004
214,SSD,South Sudan,1578000000.0,10837527.0,145.6051735788063
215,SSF,Sub-Saharan Africa (all income levels),46287970000.0,912212022.0,50.74255642730392
216,SST,Small states,3644730000.0,29076151.0,125.35118558161292
217,STP,Sao Tome and Principe,48790000.0,188098.0,259.3860647109486
218,SUR,Suriname,39600000.0,534541.0,74.0822500051446
219,SVK,Slovak Republic,,5407579.0,
220,SVN,Slovenia,,2057159.0,
221,SWE,Sweden,,9519374.0,
222,SWZ,Swaziland,88150000.0,1230985.0,71.60932099091379
223,SXM,Sint Maarten (Dutch part),,39088.0,
224,SYC,Seychelles,35330000.0,88303.0,400.09965686330025
225,SYR,Syrian Arab Republic,1671520000.0,22399254.0,74.62391381427257
226,TCA,Turks and Caicos Islands,,32427.0,
227,TCD,Chad,478590000.0,12448175.0,38.446599601949686
228,TGO,Togo,241460000.0,6642928.0,36.348429487719876
229,THA,Thailand,-134790000.0,66785001.0,-2.0182675448339067
230,TJK,Tajikistan,393910000.0,8008990.0,49.18348006427777
231,TKM,Turkmenistan,38030000.0,5172931.0,7.351731542523958
232,TLS,Timor-Leste,283070000.0,1148958.0,246.37105969060661
233,TON,Tonga,78260000.0,104941.0,745.7523751441286
234,TTO,Trinidad and Tobago,,1337439.0,
235,TUN,Tunisia,1017020000.0,10777500.0,94.36511250289956
236,TUR,Turkey,3033130000.0,73997128.0,40.98983409193935
237,TUV,Tuvalu,24490000.0,9860.0,2483.7728194726164
238,TZA,Tanzania,2831890000.0,47783107.0,59.26550569430322
239,UGA,Uganda,1655190000.0,36345860.0,45.539987222753844
240,UKR,Ukraine,769230000.0,45593300.0,16.871557882408162
241,UMC,Upper middle income,15594650000.0,2390210774.0,6.5243827739519675
242,URY,Uruguay,19320000.0,3395253.0,5.690297600797349
243,USA,United States,,313873685.0,
244,UZB,Uzbekistan,255260000.0,29774500.0,8.573107860753328
245,VCT,St. Vincent and the Grenadines,8560000.0,109373.0,78.26428826127106
246,VEN,"Venezuela, RB",48130000.0,29954782.0,1.6067551418000638
247,VIR,Virgin Islands (U.S.),,105275.0,
248,VNM,Vietnam,4115780000.0,88772900.0,46.363022949571324
249,VUT,Vanuatu,101420000.0,247262.0,410.17220600011325
250,PSE,West Bank and Gaza,2001390000.0,4046901.0,494.54879177919105
251,WLD,World,133039400000.0,7043105591.0,18.88930930838291
252,WSM,Samoa,120670000.0,188889.0,638.840800681882
253,YEM,"Yemen, Rep.",709390000.0,23852409.0,29.74081150461574
254,ZAF,South Africa,1067150000.0,52274945.0,20.414177384596005
255,COD,"Congo, Dem. Rep.",2859380000.0,65705093.0,43.51839209785457
256,ZMB,Zambia,957720000.0,14075099.0,68.04357113225278
257,ZWE,Zimbabwe,1001220000.0,13724317.0,72.95226421832139